.home{
	width: 100px;

}

.logo{
	width:40px;
}
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.v-center-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-right: -0.25em;
    content: '';
    vertical-align: middle;
}

panel .copy, .panel .image {
    position: relative;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}

.panel .inner {
    max-width: 650px;
}

.panel .right {
    float: right;
}
.inner {
    margin: 0 auto;
    padding: 0 80px;
}

p {
    font-size: 1em;
}

.panel.dark p {
    color: #fff;
    border-color: #3b3b3b;
}

.panel.dark .count {
    color: #191919;
}

.panel h2, .panel h3 {
    color: #80f420;
    font-size: 0.875em;
}
.panels h2 {
    text-align: center;
    color: #80f420;
    font-size: 1.25em;
}
h2 {
    font-size: 1.5em;
}

h1, h2, h3, h4, h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 0;
    letter-spacing: 5px;
    text-transform: uppercase;
    border-bottom: none;
    font-family: 'Brandon Grotesque Medium','Helvetica Neue',Arial,Helvetica,sans-serif;
    line-height: 130%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    font: inherit;
    font-size: 100%;
}
.panel-home-panel-motion .image {
    background-image: url('jitomates.jpg');
}
.panel .copy, .panel .image {
    position: relative;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}
.panel .left {
    float: left;
}
.panel.dark {
    background-color: #E23E36;
}


.panel .three-quart {
    width: 55%;
}

panel .left {
    float: left;
}

.panel .one-quart {
    width: 45%;
}
.v-center-wrapper .v-center-content {
    position: relative;
    z-index: 3;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    white-space: normal;
}
div {
    display: block;
}
.panel, .slide, .mask.left-to-right, .carousel, .menu-content .bg {
    z-index: 1;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    border: 0;
    font: inherit;
    font-size: 100%;
}

.panel .copy, .panel .image {
    position: relative;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
}